.start {
  border: none !important;
  background-image: url('../../assets/star.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;

  background-color: $start-node-color;
}

.end {
  border: none !important;
  background-image: url('../../assets/bullseye.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  background-color: $end-node-color;
}

.wall {
  border: none !important;
  background-color: $wall-node-color;
}

.path {
  border: none !important;
  background-color: $path-node-color;
}

.closed {
  background-color: $closed-node-color;
}

.open {
  background-color: $open-node-color;
}
