.start {
  border: none !important;
  background-image: url('../../assets/star.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;

  background-color: #fffe6a;
}

.end {
  border: none !important;
  background-image: url('../../assets/bullseye.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  background-color: #fffe6a;
}

.wall {
  border: none !important;
  background-color: #0c3547;
}

.path {
  border: none !important;
  background-color: #fffe6a;
}

.closed {
  background-color: #afd8f8;
}
