@import '../../styles/variables.scss';

.container {
  border-radius: 15px;

  background-color: $tool-bar-color;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;

  padding: 5px 20px;
}

.text {
  padding-right: 5px;
}
