@import '../../styles/variables.scss';
@import '../../styles/nodes.scss';

.container {
  border-radius: 15px;

  background-color: $tool-bar-color;
  color: $text-color;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;

  overflow: hidden;
}

.box {
  width: 30px;
  height: 30px;

  border-radius: 5px;
}

.node-text {
  padding-left: 5px;

  font-family: Roboto;
}

.node-container {
  flex-grow: 1;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;

  padding: 10px 10px;

  min-width: 10vw;

  transition: all 0.2s;

  cursor: pointer;
}

.eraser {
  border: none !important;
  background-image: url('../../../assets/eraser.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  background-color: $open-node-color;
}

.active {
  background-color: $hover-color;
}

.node-container:hover:not(.active) {
  color: $hover-color;
}
