@import '../../styles/variables.scss';
@import '../../styles/nodes.scss';

.container {
  border-radius: 15px;

  background-color: $white;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;

  padding: 0 20px;
}

.box {
  width: 30px;
  height: 30px;

  border-radius: 5px;
}

.node-text {
  padding-left: 5px;

  font-family: Roboto;
}

.node-container {
  flex-grow: 1;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;

  padding: 10px 10px;
  margin: 5px;

  min-width: 10vw;

  transition: all 0.2s;

  border-radius: 5px;
}

.active {
  background-color: rgba(black, 0.15);
}

.node-container:hover {
  background-color: rgba(black, 0.25);
}
